{% extends "base.html" %} {% block content %}
{% load staticfiles %}
{% load filename %}

<h1>ALUMNI NEWS</h1>

<div class="container">
<p>
<center>
	<form action="/admin/contacts/post/add" method="get">
 			<button class = "btn btn-default btn-md col-md-6" style = "font-size: 20px; font-family: 'league_gothicregular';">  New Post </button>
	</form>
	<form action="/admin/contacts/post" method="get">
		<button class="btn btn-default btn-md col-md-6" style = "font-size: 20px; font-family: 'league_gothicregular';"> Edit Posts </button>
	</form/>
	<p><i> Your post needs to be approved by an administrator before it will become visible.</i></p>
</center>
</p>
</div>

{% if latest_news_list %}
    {% for update in latest_news_list %}
    <div class="container">
	    <div class = "row">
	    	<h2 class="subheader" style="font-size:18px;">{{ update.title }}</h2>
	    	<h5>
	    		<a href="{% url 'profile' update.user.id %}" style="color:black; font-size:16px;">			{{update.user}}
	    		</a>
	    		{%if update.user.graduationYear%}, Class of {{update.user.graduationYear}} {%endif%}
	    	</h5>
	    	<h5><i>Published on {{update.pub_date}}</i></h5>
	    	<p>{{update.text|urlizetrunc:40}}</p>
	    	{% for image in update.image_set.all %}
	    		<figure><img class='img-responsive' style="margin: 0 auto;" src="{{MEDIA_URL}}{{image.img}}" height="200" width="200"></figure
	    	{% endfor %}
	    	{% for f in update.file_set.all %}
	    	<div class="download">
		        <div class="title">
		        	<a href="{{ f.file_upload.url }}">{{f.file_upload|filename}}</a>
		        </div>
		        <div class="size">{{f.file_upload.size|filesizeformat}} </div>
   			</div>
	    	{% endfor %}
	    </div>
	</div>
    {% endfor %}
    </ul>
{% else %}
	<p>
    <div class = "row"><h3>No recent updates.</h3></div>
    </p>
{% endif %}
</br>
</br>


{% endblock %}